<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <!-- 
            angular provides us with a directive ngSubmit 
            to prevent a default behavior of the submit button -->

        <!-- 
            In the 'ts' we use form:ElementRef and it doesn't give access to the JS created by angular,
            we can set #f to something exposed by angular, we know that the form element 
            is kind of a selector for a directive build into angular which will create 
            automatically a JS object and then it will automatically expose some data that
            we could fetch in the form element, we can do it by : #f="ngForm" -> it just a way
            of saying to angular give me access to the form that you automatically created.
            onSubmit(form:ElementRef) will become onSubmit(form:NgForm) -->


      <!-- the following approach's been replaced: 
        <form (ngSubmit) ="onSubmit(f)" #f="ngForm">  

            B E C A U S E :

      to get access to the form from 'ts' we will use ViewChild('f') using a local ref '#f' instead of passing it as param to onSubmit(f) method, this approach gives us full access to the form in 'ts' all times, not only when we submit it!!!!, it's very important to get access to the form from 'ts' to control  its validity and enhance the user experience!
      
        @ViewChild('f') signUpForm:NgForm;
          -->
      <form (ngSubmit) ="onSubmit()" #f="ngForm"> 
        <!-- 
         1- we could group all relevant data input by using (ngModelGroup="userData")  userData will be turn into a control inside the form controls which holds username & email control:
          f.value ={
              gender: "male",questionAnswer:"message",secret:"pet",
              userData: {username: "username", email: "email@email.com"}
            }
          2- now, we could also check the validity of email and username in one shot on userData control!!!
          3- #userData="ngModelGroup" allow us to access userData control in template:e.g, userData.valid
        -->
        <div id="user-data" 
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
              <!-- ngModel allows us to register HTML elements/controls (input, select, ...) 
                to make them available in the DOM for JS, we need to set the name attribute to allow angular to id the controls. because we need to access prop value by 'name' of the control later on in ts.

                - use ngModel to tell angular that this is a control
                - use #username="ngModel" for one way binding
                -->
            <input type="text" id="username" 
                        class="form-control" 
                        ngModel 
                        name="username"
                        required
                        #username="ngModel">
                        <!-- required is HTML attribute, angular will detect it, 
                        so it acts as selector for built-in directive shipped with angular
                        and will configure the form to make that invalid if empty 
                          -->                            

                          <!-- #username="ngModel" (like #f="ngForm") allow us to expose the input control and access it by name (e.g: username.valid)  -->
                          <span class="help-block alert alert-danger" 
                          *ngIf="!username.valid && username.touched">Usename invalid</span>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()" >Suggest an Username</button>
          <button type="button" class="btn btn-warning" (click)="onReset()">Reset</button>
          <div class="form-group">
            <label for="email">Mail</label> 
            <!-- 
                - use ngModel to tell angular that this is a control
                - we use #email="ngModel" for one way binding
              -->
            <input type="email" id="email" 
                    class="form-control" 
                    ngModel 
                    name="email"
                    required
                    email
                    #email="ngModel">
                     <!-- 
                      unlike required, email is not a built-in HTML attribute, 
                      but it's still directive for angular (not a selector!)
                    -->
                    <span class="help-block alert alert-danger" *ngIf="!email.valid && email.touched">Email invalid</span>
          </div>          
              <p *ngIf="userData.invalid && userData.touched" class="help-blok"><strong>invalid user data input</strong> </p>         
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>

          <!-- 
            registering and also using one way binding of default binding 
            (defaultQuestion) with '[ngModel]' instead of 'ngModel':
             
            because of ngModel directive, the 'select' input is turned into control by angular in the background, also in one shot, we bind the control into a value (not 2 ways binding!) by using:[ngModel] ="defaultQuestion"
          -->
          <select id="secret" name ="secret"
                  class="form-control" 
                  [ngModel] ="defaultQuestion">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>          
        </div>

        <div class="form-group">
            <label>Message:</label>
            <!-- use ngModel directive to register textarea and turn it into a control by angular and ALSO to set 2 ways binding with the 'answer' property IN ONE SHOT using: [(ngModel)]="answer"-->
            <textarea name="questionAnswer" 
              class="form-control"
              [(ngModel)]="answer"></textarea>
          </div>
          <p class="well" *ngIf="answer != '' || answer !== undefined">Your reply: {{answer}}</p> 

          <div class="radio" *ngFor="let gender of genders">
            <label>
              <!-- 
                use ngModel to make input a control and also 1 way binding
                (so we can access it through JS (DOM) controls list!!!) 
              -->
              <input 
                type="radio"
                name="gender" 
                ngModel              
                [value]="gender"
                [ngModel]="defaultGender"
                required>{{gender}}
            </label>
          </div>

        <!-- W A R N I N G: if we listen to submit (click) here the defaut behaviour 
          will be triggered and form will be submitted, it will trigger JS submit event, 
          this is how it build into HTML...
          to prevent this, angular provides us with a directive ngSubmit (to be placed in the form tag) which listen to submit event=(ngSubmit) -->
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{user.username}}</p>
      <p>Mail:  {{user.email}}</p>
      <p>Secret Question: {{user.secretQuestion}}</p>
      <p>Answer: {{user.questionAnswer}}</p>
      <p>Gender:  {{user.gender}}</p>
    </div>
  </div>
</div>
